.counter-app {
  background-color: #efefef;
  text-align: center;
  padding: 20px;
}
.increment-button {
  color: #fff;
  background-color: cadetblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-right: 54px;
}
.decrement-button {
  color: #fff;
  background-color: cadetblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.checkbox-css {
  text-align: center;
}
